# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Ares\IdeaProjects\FoundationCLI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea
/out
target

dependency-reduced-pom.xml
FoundationCLI.iml
